*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
eggs
.eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
venv*

# Unit test / coverage reports
.coverage
.tox

# Hypothesis Property base testing
.hypothesis

# mypy Cache
.mypy_cache/

# pip wheel metadata
pip-wheel-metadata/


# Cargo
/target
**/*.rs.bk
